<div head></div>
<div navi></div>

    <!-- ==========================
    	GALLERY ITEM - START
    =========================== -->
    <section class="content-item grey" id="gallery-item">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-8">
                	<img src="assets/images/ants.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4">
                	<h2>Ants</h2>
                    <div class="box">
                        Ants can be a real trouble when they enter your home. Ants have been outside and now are marching to your food cupboards. Ants will travel searching for food, if they have found food in your home then they will leave a trail telling all the other ants that this is where you can find food.<br><br>
                        Our NPCS Pest Control specialists will identify the ant type and use a range of effective insecticides, solving the problem in a quick and safe manner is the first part, to stop reoccurrences of pest invasion we can detail a proven easy to use plan to help stop them returning.<br><br>If you have an ant or other pest problem contact us for a free no-obligation inspection and take your home back.<br><br>
                        <a href="/contact" class="btn btn-normal">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div gallery></div>

    <!-- COMMENTS
    <section class="content-item" id="comments">
    	<div class="container">
        	<div class="row">
                <div class="col-sm-8">

                    <form>
                    	<h3 class="pull-left">New Comment</h3>
                    	<button type="submit" class="btn btn-normal pull-right">Submit</button>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                	<img class="img-responsive" src="assets/images/avatar_01.jpg" alt="">
                                </div>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea class="form-control" id="message" placeholder="Your message" required></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <h3>4 Comments</h3>

                    <!-- COMMENT 1 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_01.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 1 - END --

                    <!-- COMMENT 2 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_04.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 2 - END -->

                    <!-- COMMENT 3 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_02.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 3 - END -->

                    <!-- COMMENT 4 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_03.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 4 - END -->

                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	GALLERY ITEM - END
    =========================== -->


<div foot></div>
