<h2>Contacts</h2>
<div class="box" id="contacts">
    <ul class="list-unstyled">
        <li><i class="fa fa-home"></i>4 Brent View Road, London, NW9 7EH, UK</li>
        <li><i class="fa fa-envelope"></i><a href="mailto:enquiries@npcs.co.uk">enquiries@npcs.co.uk<a/></li>
        <li><i class="fa fa-phone"></i><a href="tel:0333920590">0333 920 590<a/></li>
        <li><i class="fa fa-globe"></i>www.npcs.co.uk</li>
    </ul>
    <h3>Opening hours</h3>
    <ul class="list-unstyled">
        <li><b>Monday-Friday:</b> 9:00 - 17:00</li>
        <li><b>Saturday:</b> 9:00 - 14:00</li>
        <li><b>Sunday:</b> 24/7 Emergency Response Unit</li>
    </ul>
</div>
