<section class="content-item" id="gallery">
    <div class="container">
        <div class="content-headline">
            <h2>Image gallery</h2>
            <h3>Find out more about our work.</h3>
        </div>

        <div class="row">

            <!-- GALLERY ITEM 1 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/fly.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/fly.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/flies"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 1 - END -->

            <!-- GALLERY ITEM 2 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/product.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/product.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/products"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 2 - END -->

            <!-- GALLERY ITEM 3 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/bed.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/bed.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/bed-bugs"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 3 - END -->

            <!-- GALLERY ITEM 4 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/food.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/food.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/food"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 4 - END -->

            <div style="clear:both;"></div>

            <!-- GALLERY ITEM 5 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/kitchen.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/kitchen.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/kitchen"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 5 - END -->

            <!-- GALLERY ITEM 6 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/ants.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/ants.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/ants"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 6 - END -->

            <!-- GALLERY ITEM 7 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/roaches.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/roaches" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/roaches"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 7 - END -->

            <!-- GALLERY ITEM 8 - START -->
            <div class="overlay-wrapper col-xs-6 col-sm-3">
                <img src="assets/images/agent.jpg" class="img-responsive" alt="">
                <span class="overlay">
                    <a href="assets/images/agent.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                    <a href="/agent"><i class="fa fa-link"></i></a>
                </span>
            </div>
            <!-- GALLERY ITEM 8 - END -->

        </div>
    </div>
</section>
