<form id="contactForm">
    <div class="contact-alert-wrapper"></div>
    <div class="form-group control-group">
        <div class="controls">
            <p class="help-block"></p>
            <input required type="text" ng-model="contact.name" class="form-control" id="name" placeholder="Your Name" data-validation-required-message="Please enter your name." aria-invalid="false">
        </div>
    </div>
    <div class="form-group control-group">
        <div class="controls">
            <p class="help-block"></p>
            <input required type="email" ng-model="contact.email" class="form-control" id="email" placeholder="Your Email Address" data-validation-required-message="Please enter your email address." data-validation-email-message="Not a valid email address." aria-invalid="false">
        </div>
    </div>
    <div class="form-group control-group">
        <div class="controls">
            <p class="help-block"></p>
            <input required type="text" ng-model="contact.phone" class="form-control" id="phone" placeholder="Your Phone Number" data-validation-required-message="Please enter your phone number." aria-invalid="false">
        </div>
    </div>
    <div class="form-group control-group">
        <div class="controls">
            <p class="help-block"></p>
            <textarea required class="form-control" ng-model="contact.msg" id="message" placeholder="Your Message" data-validation-required-message="Please enter some message." aria-invalid="false"></textarea>
        </div>
    </div>
    <div class="form-group form-btn">
        <button ng-click="submitContact()" type="submit" class="btn btn-normal">Send Message</button>
    </div>
</form>
