<!-- ==========================
    HEADER - START
=========================== -->
<header class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a style="padding-top:2px;" href="index-2.html" class="navbar-brand"><img style="width:170px;" src="assets/images/logo.png" class="img-responsive" alt=""></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><i class="fa fa-bars"></i></button>
        </div>
        <div class="navbar-right navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="navi-item" data-link="home"><a href="index-2.html">Home</a></li>
                <li class="navi-item" data-link="services"><a href="/services">Services</a></li>
                <li class="navi-item" data-link="faq"><a href="/faq">FAQ</a></li>
                <li class="navi-item dropdown" data-link="info">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">More Info <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/pest-inspection">Importance of a Pest Inspection</a></li>
                        <li><a href="/call-experts">Call The Experts</a></li>
                        <li><a href="/easy-way">The Easy Way</a></li>
                    </ul>
                </li>
                <li class="navi-item dropdown" data-link="gallery">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Gallery <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="/agent">Agents</a></li>
                        <li><a href="/ants">Ants</a></li>
                        <li><a href="/bed-bugs">Bed Bugs</a></li>
                        <li><a href="/flies">Flies</a></li>
                        <li><a href="/food">Food</a></li>
                        <li><a href="/kitchen">Kitchens</a></li>
                        <li><a href="/roaches">Roaches</a></li>
                        <li><a href="/products">Products</a></li>
                    </ul>
                </li>
                <li class="navi-item" data-link="contact"><a href="/contact">Contact</a></li>
                <!-- <li class="dropdown megamenu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Pages <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="index-2.html">Homepage - Default <span class="label label-primary">New</span></a></li>
                                <li><a href="homepage-2.html">Homepage - Project <span class="label label-primary">New</span></a></li>
                                <li><a href="homepage-3.html">Homepage - Event <span class="label label-primary">New</span></a></li>
                                <li><a href="homepage-4.html">Homepage - Video <span class="label label-primary">New</span></a></li>
                                <li><a href="homepage-5.html">Homepage - Coming Soon <span class="label label-primary">New</span></a></li>
                                <li><a href="homepage-6.html">Homepage - Classic <span class="label label-success">Updated</span></a></li>
                            </ul>
                        </li>
                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blogitem.html">Blog Item</a></li>
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="galleryitem.html">Gallery Item</a></li>
                                <li><a href="portfolio.html">Portfolio <span class="label label-primary">New</span></a></li>
                                <li><a href="portfolioitem.html">Portfolio Item <span class="label label-primary">New</span></a></li>
                            </ul>
                        </li>
                        <li class="col-sm-4 col-md-3">
                            <ul class="list-unstyled">
                                <li><a href="pricing.html">Pricing Plans</a></li>
                                <li><a href="faq.html">FAQ</a></li>
                                <li><a href="error403.html">Error 403</a></li>
                                <li><a href="error404.html">Error 404</a></li>
                                <li><a href="signup.html">Sign Up</a></li>
                                <li><a href="signin.html">Sign In</a></li>
                            </ul>
                        </li>
                        <li class="col-md-3 hidden-xs hidden-sm">
                            <img src="assets/images/macbook.png" class="img-responsive" alt="">
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Dropdown Example <i class="fa fa-caret-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Dropdown link #1</a></li>
                        <li><a href="#">Dropdown link #2</a></li>
                        <li><a href="#">Dropdown link #3</a></li>
                        <li><a href="#">Dropdown link #4</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Our Services</a></li>
                <li><a href="contact.html">Pests</a></li>
                <li><a href="contact.html">Locations</a></li>
                <li><a href="contact.html">Contact</a></li>-->
            </ul>
            <!-- <div class="navbar-right hidden-xs">
                <form id="search-form" class="hidden-xs hidden-sm">
                    <fieldset>
                        <div class="input-group">
                            <input type="text" class="form-control">
                            <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                        </div>
                    </fieldset>
                </form>
                <ul class="list-unstyled list-inline" id="secondary-nav">
                    <li><a href="signin.html">Sign In</a></li>
                    <li><a href="signup.html">Sign Up</a></li>
                </ul>
            </div> -->
        </div>
    </div>
</header>
<!-- ==========================
    HEADER - END
=========================== -->
