<div head></div>
<div navi></div>



<!-- ==========================
    CONTACT - START
=========================== -->
<section class="content-item grey" id="contact">
    <div class="container">
        <div class="row">

            <div class="col-sm-7">
            <h2>Leave a message</h2>

                <div msg></div>
            </div>
            <div class="col-sm-5">
                <div contacts></div>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
    CONTACT - END
=========================== -->


<div foot></div>
