<div head></div>
<div navi></div>

<!-- ==========================
    CONTACT - START
=========================== -->
<section class="content-item grey" id="faq">
    <div class="container">
        <h2>Help center</h2>
        <div class="row">
            <div class="col-sm-8">
                <h3>Frequently Asked Questions</h3>
                <div class="panel-group" id="faq-panel">

                    <!-- FAQ 1 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="" data-toggle="collapse" data-parent="#faq-panel" href="#faq-1">DO I HAVE TO HAVE A FREE INSPECTION BEFORE I CAN GET A QUOTE?</a></h4>
                        </div>
                        <div id="faq-1" class="panel-collapse collapse in">
                            <div class="panel-body">
                                No two properties or pest problems are the same, so we tailor a package based on your needs and requirements, saving you money and ensuring that the pest problem is tackled efficiently. We will inspect your property and create a detailed report for your own custom strategy. This is a free service and will allow us to give our a targeted price and correct pest removal plan.
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 1 - END -->

                    <!-- FAQ 2 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-2">CAN I DIY SPRAY AND GET RID OF MY PEST PROBLEM?</a></h4>
                        </div>
                        <div id="faq-2" class="panel-collapse collapse">
                            <div class="panel-body">
                                Products bought in store are usually ineffective and fail to tackle the real issues causing pest invasion. With years of experience we know the causes of infestations and how to stop and remove them so they will not return.
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 2 - END -->

                    <!-- FAQ 3 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-3">WHY SHOULD I HIRE NPCS?</a></h4>
                        </div>
                        <div id="faq-3" class="panel-collapse collapse">
                            <div class="panel-body">
                                It is likely you may have already attempted to deal with the pest problem on your own. Maybe the reason you are here is that the pests have returned and it seems impossible to get rid of them. Pest control needs expertise and high level equipment to achieve a pest free property. Our team is highly trained and carry proven products that deal with all different types of pests.
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 3 - END -->

                    <!-- FAQ 4 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-4">IS THIS SAFE FOR MY FAMILY AND PETS?</a></h4>
                        </div>
                        <div id="faq-4" class="panel-collapse collapse">
                            <div class="panel-body">
                                NPCS take the safety and wellbeing of our customers very seriously. Our products are approved in the UK for pest control use, non-toxic and people and animal friendly.
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 4 - END -->

                    <!-- FAQ 5 - START -->
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title"><a class="collapsed" data-toggle="collapse" data-parent="#faq-panel" href="#faq-5">HOW SOON CAN NPCS COME TO MY HOME?</a></h4>
                        </div>
                        <div id="faq-5" class="panel-collapse collapse">
                            <div class="panel-body">
                                NPCS offers a same day service, so we can be with you inspecting your property the exact same day you call us. We will send a friendly technician at a time suited to you and get to work immediately defending your home against any pests.
                            </div>
                        </div>
                    </div>
                    <!-- FAQ 5 - END -->

                </div>
            </div>
            <div class="col-sm-4">
                <h2>Contacts</h2>
                <div class="box" id="contacts">
                    <ul class="list-unstyled">
                        <li><i class="fa fa-home"></i>212-222 Broadway, New York, NY 10038, USA</li>
                        <li><i class="fa fa-envelope"></i>info@mycompany.com</li>
                        <li><i class="fa fa-phone"></i>+420 123 456 789</li>
                        <li><i class="fa fa-globe"></i>www.mycompany.com</li>
                    </ul>
                    <h3>Opening hours</h3>
                    <ul class="list-unstyled">
                        <li><b>Monday-Friday:</b> 9:00 - 16:00</li>
                        <li><b>Saturday:</b> 9:00 - 12:00</li>
                        <li><b>Sunday:</b> Closed</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ==========================
    CONTACT - END
=========================== -->

<div foot></div>
