<div head></div>
<div navi></div>


    <!-- ==========================
    	JUMBOTRON - START
    =========================== -->
    <section class="jumbotron jumbotron-carousel">
    	<div id="homepage-1-carousel" class="nav-inside owl-animation">

            <!-- SLIDESHOW ITEM - START -->
            <div class="item slide-1">
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                        <h2 class="animation top-to-bottom slow">Got Bugs?</h2>
                        <h3 class="animation bottom-to-top slow delay-1">CALL US FOR AN APPOINTMENT TODAY</h3>
                        <a href="tel:03339205900" class="btn btn-normal animation bottom-to-top slow delay-2" target="_blank">Call: 0333 920 5900<br>enquiries@npcs.co.uk</a>
                    </div>
                </div>
            </div>
            <!-- SLIDESHOW ITEM - END -->

            <!-- SLIDESHOW ITEM - START -->
            <!-- <div class="item slide-2">
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                    	<h2 class="animation right-to-left delay-1">Core Theme <span class="color">Features</span></h2>
                        <ul class="list-unstyled">
                        	<li class="animation right-to-left delay-2">Mobile Friendly</li>
                            <li class="animation right-to-left delay-3">Easy to Customize</li>
                            <li class="animation right-to-left delay-4">Modern Design</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <!-- SLIDESHOW ITEM - END -->

            <!-- SLIDESHOW ITEM - START -->
            <!-- <div class="item slide-3">
                <div class="slide-mask"></div>
                <div class="slide-body">
                    <div class="container">
                        <div class="row">
                        <div class="col-sm-12 col-md-11 col-lg-10">
                        <h2 class="animation top-to-bottom delay-1">Supreme - Precision Business Theme</h2>
                        <p class="animation bottom-to-top delay-2">Donec laoreet nisi erat, quis tincidunt arcu interdum eu. Fusce blandit tristique odio, eu pellentesque sem vulputate nec.</p>
                    	</div>
                        </div>
                    </div>
                </div>
            </div> -->
            <!-- SLIDESHOW ITEM - END -->

        </div>
    </section>
    <!-- ==========================
    	JUMBOTRON - END
    =========================== -->

    <!-- ==========================
    	SERVICES - START
    =========================== -->
    <section class="content-item" id="services">
    	<div class="container">
        	<div class="content-headline">
            	<h2>What We Do</h2>
                <h3>WELCOME TO NATIONAL PEST CONTROL SERVICES</h3>
            </div>
        	<div class="row">
            	<div class="col-sm-4">
                	<i class="fa fa-bug"></i>
                    <h4>PEST CONTROL SERVICES</h4>
                    <p>NPCS offers pest control services in the UK, it is a family run business with guaranteed results.</p>
                </div>
                <div class="col-sm-4">
                	<i class="fa fa-clock-o"></i>
                    <h4>24 HOUR RESPONSE</h4>
                    <p>We will send out agents to you within 24 hours, our fast response time sets us apart from the rest.</p>
                </div>
                <div class="col-sm-4">
                	<i class="fa fa-building"></i>
                    <h4>COMMERCIAL PEST CONTROL</h4>
                    <p>For commercial pest control our professional team can help you with any pest problem.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	SERVICES - END
    =========================== -->

    <!-- ==========================
    	SLIDESHOW - START
    =========================== -->
    <div id="slideshow-links">
    	<div class="container">
        	<div class="row">
            	<div class="col-xs-12">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs nav-justified" id="slideshow-tabs">
                        <!-- <li><a href="#tab1" data-toggle="tab"><span></span>Latest Project</a></li> -->
                        <li class="active"><a href="#tab1" data-toggle="tab"><span></span>Our Principals</a></li>
                        <!-- <li><a href="#tab3" data-toggle="tab"><span></span>Main Services</a></li> -->
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <section class="content-item" id="slideshow">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-12">

                    <!-- Tab panes -->
                    <div class="tab-content">

                        <!-- Tab 1 - START
                        <div class="tab-pane fade in active" id="tab1">
                        	<div class="row">
                            	<div class="col-xs-12 col-sm-6">
                                	<h4>Lorem ipsum</h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                	<div class="overlay-wrapper">
                                    	<img src="assets/images/image_01.jpg" class="image-bordered img-responsive" alt="">
                                    	<span class="overlay">
                                        	<a href="assets/images/image_01.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                                        </span>
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-3">
                                    <div class="overlay-wrapper">
                                    	<img src="assets/images/image_02.jpg" class="image-bordered img-responsive" alt="">
                                    	<span class="overlay">
                                        	<a href="assets/images/image_02.jpg" class="show-image"><i class="fa fa-plus"></i></a>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 1 - END -->

                        <!-- Tab 2 - START -->
                        <div class="tab-pane active" id="tab1">
                        	<div class="row">
                            	<div class="col-sm-5">
                                	<img src="assets/images/macbook.png" class="img-responsive center-block" alt="">
                                </div>
                                <div class="col-sm-7">
                                	<ul class="list-unstyled">
                                    	<li><i class="fa fa-calendar"></i>Same Day Service</li>
                                        <li><i class="fa fa-money"></i>Cost Effective Solutions</li>
                                        <li><i class="fa fa-coffee"></i>Respectful & Professional</li>
                                        <li>&nbsp;<i class="fa fa-shield"></i>Guaranteed Results</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- Tab 2 - END -->

                        <!-- Tab 3 - START
                        <div class="tab-pane fade" id="tab3">
                        	<div class="row">
                            	<div class="col-sm-6">
                                	<div class="feature">
                                    	<div class="pull-left"><i class="fa fa-tasks"></i></div>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                       	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. scelerisque mi vitae, congue turpis.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. scelerisque mi vitae, congue turpis.</p>
                                	</div>
                                </div>

                                <div class="col-sm-6">
                                	<div class="feature">
                                    	<div class="pull-left"><i class="fa fa-users"></i></div>
                                        <h4>Lorem ipsum dolor sit amet</h4>
                                       	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. scelerisque mi vitae, congue turpis.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam nec nulla sagittis, scelerisque mi vitae, congue turpis. scelerisque mi vitae, congue turpis.</p>
                                	</div>
                                </div>

                            </div>
                        </div>
                        <!-- Tab 3 - END -->

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	SLIDESHOW - END
    =========================== -->

    <!-- ==========================
    	PRICING - START
    ===========================
    <section class="content-item pricing">
    	<div class="container">
        	<div class="content-headline">
            	<h2>Pricing Plans</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            </div>
        	<div class="row">

                <!-- PRICING PLAN 1 - START
                <div class="col-sm-4">
                	<div class="pricing-plan">
                    	<h4>Basic</h4>
                    	<div class="price"><span><small>$</small>29</span>per month</div>
                    	<ul class="list-unstyled">
                        	<li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <div class="order-wrapper"><a href="#" class="btn btn-normal btn-order">ORDER</a></div>
                    </div>
                </div>
                <!-- PRICING PLAN 1 - END -->

                <!-- PRICING PLAN 2 - START
                <div class="col-sm-4">
                	<div class="pricing-plan">
                    	<h4>Standard</h4>
                    	<div class="price"><span><small>$</small>59</span>per month</div>
                    	<ul class="list-unstyled">
                        	<li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <div class="order-wrapper"><a href="#" class="btn btn-normal btn-order">ORDER</a></div>
                    </div>
                </div>
                <!-- PRICING PLAN 2 - END -->

                <!-- PRICING PLAN 3 - START
                <div class="col-sm-4">
                	<div class="pricing-plan">
                    	<h4>Premium</h4>
                    	<div class="price"><span><small>$</small>199</span>per month</div>
                    	<ul class="list-unstyled">
                        	<li><i class="fa fa-save"></i><b>100 GB</b> Storage</li>
                            <li><i class="fa fa-signal"></i><b>Unlimited</b> Traffic</li>
                            <li><i class="fa fa-flash"></i><b>Unlimited</b> Bandwidth</li>
                            <li><i class="fa fa-check"></i>Custom Domain</li>
                            <li><i class="fa fa-user"></i>24/7 Support</li>
                        </ul>
                        <div class="order-wrapper"><a href="#" class="btn btn-normal btn-order">ORDER</a></div>
                    </div>
                </div>
                <!-- PRICING PLAN 3 - END

            </div>
        </div>
    </section>
    <!-- ==========================
    	PRICING - END
    =========================== -->

    <!-- ==========================
    	TESTIMONIALS - START
    ===========================
    <section class="content-item" id="testimonials">
    	<div class="container">
        	<div class="content-headline">
            	<h2>What People Say About Us</h2>
                <h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</h3>
            </div>
        	<div id="testimonials-carousel">

                <!-- TESTIMONIAL ITEM - START
                <div class="item">
                	<div class="row">
            			<div class="col-xs-3 col-sm-3 col-md-2 col-sm-offset-1 col-md-offset-2">
            				<img src="assets/images/avatar_04.jpg" class="img-responsive img-circle" alt="">
                    	</div>
                        <div class="col-xs-9 col-sm-7 col-md-6">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus.</p>
            				<h4>John Doe</h4>
                            <span>Freelance Web Developer</span>
                    	</div>
                    </div>
                </div>
                <!-- TESTIMONIAL ITEM - END -->

                <!-- TESTIMONIAL ITEM - START
                <div class="item">
                	<div class="row">
            			<div class="col-xs-3 col-sm-3 col-md-2 col-sm-offset-1 col-md-offset-2">
            				<img src="assets/images/avatar_02.jpg" class="img-responsive img-circle" alt="">
                    	</div>
                        <div class="col-xs-9 col-sm-7 col-md-6">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus.</p>
            				<h4>Paul Smith</h4>
                            <span>CEO of Company</span>
                    	</div>
                    </div>
                </div>
                <!-- TESTIMONIAL ITEM - END -->

                <!-- TESTIMONIAL ITEM - START
                <div class="item">
                	<div class="row">
            			<div class="col-xs-3 col-sm-3 col-md-2 col-sm-offset-1 col-md-offset-2">
            				<img src="assets/images/avatar_03.jpg" class="img-responsive img-circle" alt="">
                    	</div>
                        <div class="col-xs-9 col-sm-7 col-md-6">
                        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam auctor dictum nibh, ac gravida orci porttitor et. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam posuere magna a dapibus luctus.</p>
            				<h4>Kate Moore</h4>
                            <span>Art Director</span>
                    	</div>
                    </div>
                </div>
                <!-- TESTIMONIAL ITEM - END

            </div>
        </div>
    </section>
    <!-- ==========================
    	TESTIMONIALS - END
    =========================== -->

    <!-- ==========================
    	STATISTICS - START
    ===========================
    <section class="content-item" id="statistics">
    	<div class="container">
        	<div class="row">

                <!-- COUNTER - START
            	<div class="col-xs-6 col-sm-3">
                	<div class="counter-item">
                        <i class="fa fa-user"></i>
                        <p><span class="counter">250</span></p>
                        <h4>Satisfied Clients</h4>
                    </div>
                </div>
                <!-- COUNTER - END -->

                <!-- COUNTER - START
            	<div class="col-xs-6 col-sm-3">
                	<div class="counter-item">
                        <i class="fa fa-pencil"></i>
                        <p><span class="counter">150000</span>+</p>
                        <h4>Lines of Code</h4>
                    </div>
                </div>
                <!-- COUNTER - END -->

                <!-- COUNTER - START --
            	<div class="col-xs-6 col-sm-3">
                	<div class="counter-item">
                        <i class="fa fa-trophy"></i>
                        <p><span class="counter">13</span></p>
                        <h4>Years on Market</h4>
                    </div>
                </div>
                <!-- COUNTER - END -->

                <!-- COUNTER - START --
            	<div class="col-xs-6 col-sm-3">
                	<div class="counter-item">
                        <i class="fa fa-coffee"></i>
                        <p><span class="counter">20000</span>+</p>
                        <h4>Cups of Coffee</h4>
                    </div>
                </div>
                <!-- COUNTER - END --

            </div>
        </div>
    </section>
    <!-- ==========================
    	STATISTICS - END
    =========================== -->

    <!-- ==========================
    	RECENT POSTS - START
    =========================== -->
    <section class="content-item" id="recent-posts">
    	<div class="container">
        	<div class="content-headline">
            	<h2>Recent Posts</h2>
                <h3>Learn from our expert pest controllers.</h3>
            </div>
        	<div class="row">

                <!-- RECENT POST - START -->
            	<div class="col-sm-4">
                	<div class="recent-post">
                    	<h4><a href="blogitem.html">Importance of a Pest Inspection</a></h4>
                        <p>Some people are of the opinion that bugs and pests only infest lower-quality houses and apartments, but this is incorrect and not true at all. Any residence o commercial property can serve as a breading space for unwanted home invaders...</p>
                        <a href="/pest-inspection" class="btn btn-normal">Read More</a>
                    </div>
                </div>
                <!-- RECENT POST - START -->

                <!-- RECENT POST - START -->
            	<div class="col-sm-4">
                	<div class="recent-post">
                    	<h4><a href="blogitem.html">Call The Experts</a></h4>
                        <p>Everyone has pests in their home at one time or another in their lives. Some are easier to get rid of than others. Calling in a specialist pest control company generally means you are more likely to find a long-term solution than just DIY spraying...</p>
                        <a href="/call-experts" class="btn btn-normal">Read More</a>
                    </div>
                </div>
                <!-- RECENT POST - START -->

                <!-- RECENT POST - START -->
            	<div class="col-sm-4">
                	<div class="recent-post">
                    	<h4><a href="blogitem.html">The Easy Way</a></h4>
                        <p>There is no easy means to get rid of pests, and all the people that state sanitation makes no difference are right. People who don’t regularly clean their houses give these pests an open invite, but squeaky clean, unoccupied spaces get them too...</p>
                        <a href="/easy-way" class="btn btn-normal">Read More</a>
                    </div>
                </div>
                <!-- RECENT POST - START -->

            </div>
        </div>
    </section>
    <!-- ==========================
    	RECENT POSTS - END
    =========================== -->

    <!-- ==========================
    	GALLERY - START
    =========================== -->
    <div gallery></div>
    <!-- ==========================
    	GALLERY - END
    =========================== -->


    <!-- ==========================
        STATISTICS - START
    =========================== -->
    <section class="content-item" id="statistics">
        <div class="container">
            <div class="row">

                <!-- COUNTER - START -->
                <div class="col-xs-12 col-sm-12">
                    <div class="counter-item">
                        <i class="fa fa-user"></i>
                        <p><span class="counter">Get Your Free No-Hassle Quote Now!</span></p>
                        <h4><a class="btn btn-default" href="/contact">Get Free Quote</a></h4>
                    </div>
                </div>
                <!-- COUNTER - END -->

                <!-- COUNTER - END -->

            </div>
        </div>
    </section>
    <!-- ==========================
        STATISTICS - END
    =========================== -->


    <div foot></div>
