<div head></div>
<div navi></div>

<!-- ==========================
    ABOUT PROJECT - START
=========================== -->
<section class="content-item grey" id="about-project">
    <div class="container">

        <!-- PROJECT FEATURE - START -->
        <div class="project-feature">
            <div class="row">
                <div class="col-md-6">
                    <h3>Pest Control</h3>
                    <p>NPCS use the best available pest control solutions, we balance pest damage with the economical practices saving our customers money. We use environmentally friendly products and conduct our work in such a way as to limit hazard and inconvenience to our customers & their properties.</p>
                    <p>We offer a complete tailored pest control experience and our work is guaranteed so you will see positive results and a great service. Call NPCS today for a no hassle quote.</p>
                </div>
                <div class="col-md-6">
                    <img src="assets/images/stamp.png" class="img-responsive marg-auto" alt="">
                    <h3 class="tc">Get The NPCS Advantage</h3>
                </div>
            </div>
        </div>
        <!-- PROJECT FEATURE - END -->

        <!-- PROJECT FEATURE - START -->
        <div class="project-feature">
            <div class="row">
                <div class="col-md-6">
                    <img src="assets/images/restaurant.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-md-6">
                    <h3>Commercial Pest Control</h3>
                    <ul class="list-unstyled">
                        <li><i class="fa fa-shield"></i>Commercial Cockroach Extermination</li>
                        <li><i class="fa fa-shield"></i>Commercial Rodent Extermination</li>
                        <li><i class="fa fa-shield"></i>Commercial Bed Bug Control</li>
                        <li><i class="fa fa-shield"></i>Commercial Fly Control</li>
                        <li><i class="fa fa-shield"></i>Food Processing Pest Control</li>
                    </ul>
                    
                </div>
            </div>
        </div>
        <!-- PROJECT FEATURE - END -->

    </div>
</section>
<!-- ==========================
    ABOUT PROJECT - END
=========================== -->

<div foot></div>
