<div head></div>
<div navi></div>

    <!-- ==========================
    	GALLERY ITEM - START
    =========================== -->
    <section class="content-item grey" id="gallery-item">
    	<div class="container">
        	<div class="row">
            	<div class="col-sm-8">
                	<img src="assets/images/bees.jpg" class="img-responsive" alt="">
                </div>
                <div class="col-sm-4">
                	<h2>Bees</h2>
                    <div class="box">
                        There are over 20,000 recorded bee species in the world. While some bees are solitary others such as the honey bee live in hives with their colony. Bees tend to swarm when they are large in population or with seasonal changes.<br><br>The queen bee lays the eggs while the drones fertilize her, worker bees gather pollen may only live six weeks. Disease and starvation or an ailing queen may result in the loss of the colony.<br><br>To remove the bees from your home or garden the hive needs to be moved, it is a dangerous process and the correct equipment is essential. NPCS has the know how to help you with your bee problem so please contact to ensure a safe removal of the bees.
                    </div>
                    <a href="assets/images/bees.jpg" class="btn btn-normal show-image">Full Size</a>
                    <a href="/contact" class="btn btn-default">Contact Us</a>
                </div>
            </div>
        </div>
    </section>

    <div gallery></div>

    <!-- COMMENTS
    <section class="content-item" id="comments">
    	<div class="container">
        	<div class="row">
                <div class="col-sm-8">

                    <form>
                    	<h3 class="pull-left">New Comment</h3>
                    	<button type="submit" class="btn btn-normal pull-right">Submit</button>
                        <fieldset>
                            <div class="row">
                                <div class="col-sm-3 col-lg-2 hidden-xs">
                                	<img class="img-responsive" src="assets/images/avatar_01.jpg" alt="">
                                </div>
                                <div class="form-group col-xs-12 col-sm-9 col-lg-10">
                                    <textarea class="form-control" id="message" placeholder="Your message" required></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>

                    <h3>4 Comments</h3>

                    <!-- COMMENT 1 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_01.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 1 - END --

                    <!-- COMMENT 2 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_04.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 2 - END -->

                    <!-- COMMENT 3 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_02.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 3 - END -->

                    <!-- COMMENT 4 - START --
                    <div class="media">
                        <a class="pull-left" href="#"><img class="media-object" src="assets/images/avatar_03.jpg" alt=""></a>
                        <div class="media-body">
                            <h4 class="media-heading">John Doe</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            <ul class="list-unstyled list-inline media-detail pull-left">
                                <li><i class="fa fa-calendar"></i>27/02/2014</li>
                                <li><i class="fa fa-thumbs-up"></i>13</li>
                            </ul>
                            <ul class="list-unstyled list-inline media-detail pull-right">
                                <li class=""><a href="#">Like</a></li>
                                <li class=""><a href="#">Reply</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- COMMENT 4 - END -->

                </div>
            </div>
        </div>
    </section>
    <!-- ==========================
    	GALLERY ITEM - END
    =========================== -->


<div foot></div>
