<!DOCTYPE html>
<html ng-app="app" lang="en">

<base href="/">

<div ng-view autoscroll></div>

<!-- Vendor JS -->
<script src="/assets/libs/jquery/dist/jquery.min.js"></script>
<script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/assets/libs/angular/angular.min.js"></script>
<script src="/assets/libs/angular-route/angular-route.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByCbsCqHFk-E80Wubp0TjtVYHyFXNUhZo&v=3.exp&amp;sensor=true"></script>
<script src="/assets/js/jquery.magnific-popup.min.js"></script>
<script src="/assets/js/owl.carousel.min.js"></script>
<script src="/assets/js/isotope.pkgd.min.js"></script>
<script src="/assets/js/jqBootstrapValidation.js"></script>
<script src="/assets/js/waypoints.min.js"></script>
<script src="/assets/js/jquery.counterup.min.js"></script>
<script src="/assets/js/jquery.countdown.min.js"></script>
<script src="/assets/js/jquery.mb.YTPlayer.min.js"></script>
<script src="/assets/js/typed.min.js"></script>
<script src="/assets/js/creative-brands.js"></script>
<script src="/assets/js/color-switcher.js"></script>


<!-- Angular App JS -->
<script src="/app/app.js"></script>
<script src="/app/appRoutes.js"></script>
<script src="/app/ctrl.js"></script>
<script src="/app/directives.js"></script>
<script src="/app/services.js"></script>
